
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
  }
  
  #contenido {
    display: block;
    margin: auto;
    width: 950px;
    height:20px;
    border: 2px solid white;
    background-color: white;
    padding: 2px;
    float:right;
    text-align: center;
    
  }
  
  table,td {
    border: 2px groove #FFE521;
    
  }
  
  
  figure {
    margin: 0%;
    margin-top: 1%;
    float: right;
    width: 65%;
    display: block;
    height: 70px;
    padding: 2%;
    padding-bottom: 30%;
   
  }
  
  #logo {
    display: block;
    margin: auto;
    width: 250px;
    height:90px;
    padding:0px;   
  }
  
  
  hr {
    border-color:#FFE521;
  }
  
  #usuario {
    display:block;
    width: 260px;
    height:80px;
  } 
  
  #fotoAle{
    display: block;
    margin:auto;
    float: left;
    
    width: 100px;
    height:80px;
  }
  
  #ale {
    align-content: left;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  
  #aleName {
    display: block;
    margin:auto;
    width: 150px;
    height:80px;
    float: right;
  }
  
  
  h2{
    background-color:#FFE521; 
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
  }
  
  
  #listaEst{
    text-decoration: underline;
  }
  
  #info { 
    width: 370px;
    height:780px;
    /* border: 2px solid blue; */
    background-color: white;
    padding: 5px;
    float: left;
    border-right: 2px solid black;
  }
  
  
  
  ul.acorh,
  ul.acorh * {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  ul.acorh {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  font-size: 18px;
  }
  ul.acorh li {
  list-style: none;
  }
  ul.acorh li a {
  display: block;
  padding: 10px 10px 10px 20px;
  color: #000000;
  border-bottom: 1px solid #FFE521;
  text-decoration: none;
  box-sizing: border-box;
  }
  ul.acorh li ul {
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: .9s all ease-in;
  }
  ul.acorh li li a {
  padding: 10px 10px 10px 40px;
  background: #e6ecf0;
  color: #000;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  }
  ul.acorh li li:last-child a {
  border-bottom: 0;
  }
  ul.acorh li:hover ul {
  max-height: 1000px;
  transition: .9s all ease-in;
  }
  ul.acorh li a:hover {
  background: #FFE521;
  color: black;
  }
  